<div id="sidebar">
    <mat-nav-list>

        <!-- Tarefa 2 - alterado icone e excluir os icones -->
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen1']">
            <mat-icon class="sidenav-icon">person_add</mat-icon> {{ 'Cadastrar' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen2']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Listar' | translate }}
        </a>
    </mat-nav-list>
</div>
